.info-banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../images/info-bg.webp');
    color: #fff; 
    text-align: center;
    background-size: cover;
  }
  
  .info-card {
    margin: 5px;
  }
  
  .info-heading {
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 10px 0;


    font-family: 'Afacad';
  }
  
  .info-subtext {
    font-size: 22px;
    margin: 0;
    font-family: 'Afacad';
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;

  }

  @media screen and (min-width:576px) and (max-width:976px){
    .info-heading{
      font-size: 1.8rem;
    }
    .info-subtext{
      font-size: 1.2rem;
    }
    .info-banner-container{
      padding-top: 30px;
      padding-bottom: 30px;
    }
    
  }

  
  @media screen and (max-width:576px){
    .info-heading{
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1px;
    }
    .info-subtext{
      font-size: 12px;
      font-weight: 400;

    }
    .info-banner-container{
      padding-top: 20px;
      padding-bottom: 20px;
    }
  
  }




  @media screen and (min-width:1500px){
    .info-banner-container{
      padding-top: 90px;
      padding-bottom: 90px;
       width: 100%;
    }
    .info-heading{
      font-size: 3.5rem;
      margin-bottom: 5px;
    }
    .info-subtext{
      font-size: 2.4rem;
    }
  }


  @media screen and (min-width:1200px) and (max-width:1500px){
    
    .info-heading{
      font-size: 2rem;
      margin-bottom: 5px;
     
    }
    .info-banner-container{
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .info-subtext{
      font-size: 1.5rem;
    }
  } 

  
  @media screen and (min-width:976px) and (max-width:1200px){
    .info-banner-container{
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .info-heading{
      font-size: 2rem;
      margin-bottom: 5px;
    }
    .info-subtext{
      font-size: 1.5rem;
    }
  }